<div class="footer">
    <div class="container">
        <div class="d-flex jc-sb">
            <div class="footer-content">
                <ul class="navbar-nav">
                    <li class="navbar-item"><a class="navbar-link" href="index.html">首頁</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="products_SUNGLASSES.html">系列鏡框</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="locations.html">門市據點</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="blog.html">部落格</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="faq.html">常見問題</a></li>
                </ul>
                <ul class="contact">
                    <li class="mt-6 contact-link"><a href="#"><span class="material-icons-outlined phone-icon">phone</span>0800-000-000</a></li>
                    <li class="mb-8 contact-link"><a href="#"><span class="material-icons-outlined mail-icon">mail</span>glasses@business.com</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul class="social-icon">
                    <li><a class="social-icon-link" href="#"><img src="../assets/images/ic-social-fb.png" alt="fb-icon"></a></li>
                    <li><a class="social-icon-link" href="#"><img src="../assets/images/ic-social-ig.png" alt="ig-icon"></a></li>
                    <li><a class="social-icon-link" href="#"><img src="../assets/images/ic-social-line.png" alt="line-icon"></a></li>
                </ul>
            </div>
        </div>
        <div class="others">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <ul>
                <li class="others-item"><a class="others-link" href="#">隱私權政策</a></li>
                <li class="others-item"><a class="others-link" href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</div>