<div class="header">
    <div class="container">
        <a class="navbar-logo" href="index.html"><img src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="navbar-nav">
            <li class="navbar-item"><a class="navbar-link" href="products_OPTICAL.html">系列鏡框</a></li>
            <li class="navbar-item"><a class="navbar-link" href="locations.html">門市據點</a></li>
            <li class="navbar-item"><a class="navbar-link" href="blog.html">部落格</a></li>
            <li class="navbar-item"><a class="navbar-link" href="faq.html">常見問題</a></li>
        </ul>
    </div>
</div>