<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    </style>
    <link rel="shortcut icon" href="../assets/images/home-sectioin2-4.png" type="image/x-icon">
    <title>系列鏡框</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="products-menu">
        <ul class="products-menu-list">
          <li class="products-menu-item products_OPTICAL"><a class="products-menu-link" href="products_OPTICAL.html">OPTICAL</a></li>
          <li class="products-menu-item "><a class="products-menu-link" href="products_SUNGLASSES.html">SUNGLASSES</a></li>
          <li class="products-menu-item "><a class="products-menu-link" href="products_OPTICAL.html">FUNCTIONAL</a></li>
        </ul>
    </div>

    <div class="products-OPTICAL-img">
      <div class="product-header-1"></div>
      <div class="product-header-2"></div>
      <!-- <img src="../assets/images/product-header-1.png" alt="產品圖片">
      <img src="../assets/images/product-header-2.png" alt="產品圖片"> -->
    </div>

    <div class="products">
      <div class="container">
        <h2>Celluloid Combi</h2>
        <h3>賽璐珞鈦金屬混合鏡框</h3>
        <ul class="products_list">
          <li class="products_item">
            <img src="../assets/images/product-1.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1" href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-2.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1" href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-3.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1" href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-4.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-5.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-6.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-7.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-8.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-9.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-10.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-11.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2" href="#"></a></li>
            </ul>
          </li>
          <li class="products_item">
            <img src="../assets/images/product-12.png" alt="">
            <div class="products_detail">
              <p class="product_name">BJ41600S</p>
              <span class="product_price">NTD3,490</span>
            </div>
            <ul class="productcolor">
              <li><a class="color-1"  href="#"></a></li>
              <li><a class="color-2"  href="#"></a></li>
            </ul>
          </li>
        </ul>

        <%- include('./layout/pagenation'); -%>
      </div>
    </div>

    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
